<!DOCTYPE html>

<html>

<head>
    <title>Student Record</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
    <br><br>
   
</div>
<body >
<div class="row">
    <div class="col-md-4 offset-md-4" style="background-color: #fff;margin-top: 25px;padding:20px;">
        {{{body}}}
    </div>
</div>

        <br>
        <br>
        <br>
        <div> 
            <p class="text-center h3">This web application was created to fulfil <br>
        Web Technology module's requirements and does not represent <br>
        an actual company or service</p>
        </div>
</body>

</html>